@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Mukta:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #0C0C0C;
  --light-black: #181818;
  --gray: #494949;
  --white: #FFFFFF;
  --yellow: #FFC000;
  --light-yellow: #ffdc73;
}
main {
  display: flex;
}
aside {
  width: 50vw;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

.image {
  background-image: url('./assets/SimboloElevUp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-content .logo {
  width: 417px;
  margin: 100px 0 100px 10px;
}

.login-content h1 {
  font-family: Cairo;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}

.login-content p {
  font-family: Mukta;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
}

.login-content label {
  font-family: Mukta;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.login-content .input-container {
  position: relative;
}

.login-content input, button {
  width: 250px;
  padding: 9px;
  margin: 10px;
  background-color: var(--yellow);

  border-color: var(--yellow);
  border-radius: 5px;

  font-family: Mukta;
  font-style: normal;
  font-weight: 500;
  color: var(--black);
  outline: none;

}

.login-content input {
  padding-left: 50px;
}

.login-content input::placeholder {
  font-family: Mukta;
  font-style: normal;
  font-weight: 500;
  color: var(--black);
  
}

.login-content input:focus{
  width: 250px;
  padding: 9px;
  background-color: var(--light-yellow);
  border-color: var(--light-yellow);
  padding-left: 50px;
}

.login-content button {

  color: var(--yellow);

  background-color: var(--black);
  border-color: var(--yellow);
}

.login-content button:hover{
  width: 250px;
  padding: 9px;

  color: var(--light-yellow);

  background-color: var(--light-black);
  border-color: var(--light-yellow);
}

.login-content #checkbox {
  width: 16px;
}

.login-content form {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.login-content svg {
  background-color: var(--black);
  border: solid var(--yellow);
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: var(--white);
  padding: 9px;
  position: absolute;
  left: 10px;
  top: calc(50% - 22px);
  width: 44px;
  height: 44px;
}

.login-content svg:hover {
  background-color: var(--light-black);
  border: solid var(--light-yellow);
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: var(--white);
  padding: 9px;
  position: absolute;
  left: 10px;
  top: calc(50% - 22px);
  width: 44px;
  height: 44px;
}

@media (max-width: 768px) {
  .login-content .logo {
    width: 300px
  }
}
@media (max-width: 425px) {
  .image {
    display:none;
  }

  .login-content  {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .login-content .logo {
    width: 300px;
    margin: 100px auto;
  }

  .login-content h1 {
    margin-left: 30px;
  }
  .login-content p {
    margin-left: 30px;
  }

  form {
    margin-left: 20px;
  }
}